:local(.component) {
  font-family: Helvetica Neue;
  border: 1px solid #ddd;

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1px;

    &:last-child {
      margin-bottom: 0px;
    }
  }
}
