:local(.component) {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 300px;
  padding: 10px;
  background: #fff;
  font-family: Helvetica Neue;
  box-sizing: border-box;
  overflow: auto;
  display: flex;
  align-items: center;

  .left, .right {
    display: flex;
    align-items: center;
    font-size: 12px;
  }

  .frame {
    height: 20px;
    width: 8px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    position: relative;

    .indicator {
      width: 2px;
      height: 2px;
      border-radius: 9999px;
      border: 1px solid #ddd;
      position: absolute;
      bottom: 2px;
      left: 2px;
      background: #fff;
    }

    &:hover {
      background: #eee;
    }

    &.keyframe {
      background: #1C1F33;
    }

    &.selected {
      background: #666370;
    }
    &:last-child {
      border-right: 1px solid #ddd;
    }
  }
}
